body {
    background-color: #0C0B1F;
}
h1 {
    font-size: 44px;
    font-family:Impact;
    text-align: center;
    color: #a4ab9e;
}

h3 {
    font-size: 25px;
    text-align: center;
    color: #f2f2f2;
}

h4 {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f2f2f2;
}

p {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f2f2f2;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#G2G {
      width: 200px;
      height: 200px;
  }

#covid {
    width: 200px;
    height: 200px;
  }

#usda {
    width: 200px;
    height: 200px;
}
#travel {
    width: 200px;
    height: 200px;
}

  .uxuiGrid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }


  .videoGrid {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
  }

  #twc {
    width: 200px;
    height: 200px;
  }

  #nascar {
    width: 200px;
    height: 200px;
  }

  #features {
    width: 200px;
    height: 200px;
  }
  #documentary {
    width: 200px;
    height: 200px;
  }

  button {
      border-radius: 10px;
      background-color: #f2f2f2;
      color: black;
  }


  .flexContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px 200px;
    grid-gap: 10px;
    text-align: center;
}

#design {
    width: 210px;
    height: auto;
  }

  #video {
    width: 185px;
    height: auto;
  }

  #web {
    width: 150px;
    height: auto
  }